<div class="container">
  <div class="row">
    <header class="col-12">
      <app-header></app-header>
    </header>
    <main class="col-12">
      <app-about-me></app-about-me>
      <app-work-experience></app-work-experience>
    </main>
    <footer class="col-12">
      <app-contacts></app-contacts>
      <a
        class="btn btn-dark d-block text-uppercase"
        href="https://ryazan.hh.ru/resume/4c039332ff03d40aad0039ed1f364961696744"
        target="_blank"
      >
        Резюме на Hh.ru
      </a>
    </footer>
  </div>
</div>

<router-outlet></router-outlet>
