// base names colors
$PRIMARY_DARK: #2F3238;
$PRIMARY_GRAY: #3C3F45;

$COLOR_DARK_GRAY_BG: #26292E;
$COLOR_MAIN_RED_BG: #DE5E60;

$COLOR_LITE_GRAY_FONTS: #7F8289;
$COLOR_GRAY_FONTS: #23262C;

$COLOR_WHITE: #fff;
