# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]
#</IfModule>
# END WordPress

#error_reporting E_ALL
#php_flag display_startup_errors on
#php_flag display_errors on
#php_flag html_errors on
#php_flag  log_errors on
<IfModule mod_rewrite.c>
  RewriteEngine On
  Options -Multiviews -Indexes +FollowSymLinks
  RewriteEngine On
  RewriteBase /
  DirectorySlash Off

  # remove trailing slash
  RewriteRule ^(.*)\/(\?.*)?$ $1$2 [R=301,L]
</IfModule>
<IfModule mod_rewrite.c>
# Перенаправление на разводящую страницу группы страниц
  RewriteEngine on
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} -d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ %{REQUEST_FILENAME}.html
</IfModule>

<IfModule mod_rewrite.c>
# Перенаправление на конкретную страницу
  RewriteEngine on
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.html -f
  RewriteRule ^(.*)$ $1.html
</IfModule>

<ifModule mod_expires.c>

 ExpiresActive On
 #кэшировать флэш и изображения на одну неделю
 ExpiresByType image/x-icon "access plus 30 days"
 ExpiresByType image/jpeg "access plus 30 days"
 ExpiresByType image/png "access plus 30 days"
 ExpiresByType image/gif "access plus 30 days"
 ExpiresByType application/x-shockwave-flash "access plus 1 day"
 #кэшировать css, javascript и текстовые файлы на одну неделю
 ExpiresByType text/css "access plus 30 days"
 ExpiresByType text/javascript "access plus 30 days"
 ExpiresByType application/javascript "access plus 30 days"
 ExpiresByType application/x-javascript "access plus 30 days"
 #кэшировать html и htm файлы на один день
 ExpiresByType text/html "access plus 1 day"
 #кэшировать xml файлы на десять минут
 ExpiresByType application/xhtml+xml "access plus 1 day"
</ifModule>
RewriteCond %{HTTP_HOST} ^taraswww777\.dev\.u1384230\.cp\.regruhosting\.ru$ [OR]
RewriteCond %{HTTP_HOST} ^www\.taraswww777\.dev\.u1384230\.cp\.regruhosting\.ru$
#RewriteRule ^/?$ "https\:\/\/taraswww777\.dev\/" [R=301,L]

