@import 'styles/constants/colors';
@import 'styles/constants/constants';

.socialLink {
  text-decoration: none;
  color: $COLOR_WHITE;
  font-size: 16px;

  &--view {
    &_simple {
      opacity: 0.3;
    }

    &_brick {
      display: inline-flex;
      width: 70px;
      font-size: 32px;
      color: $COLOR_MARENGO;
      height: 70px;
      background: $COLOR_DARK_GRAY;
      transition: all 400ms ease-out 0s;
      transform: rotateY(0deg);
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $COLOR_MAIN_RED;
        color: $COLOR_WHITE;
        opacity: 1;
        transform: rotateY(180deg);
      }
    }
  }
}
