@import './constants/colors';
@import './constants/constants';
@import '~@fontsource/titillium-web/scss/mixins';
@import '~foundation-sites/scss/foundation';

@include foundation-normalize;

@include fontFace;

html, body {
  font-family: $MAIN_FONT_NAME, sans-serif;
  background: $PRIMARY_DARK;
  color: $COLOR_LITE_GRAY_FONTS;
}

li {
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 20px;
}
