@import '../../../styles/constants/colors';
@import '../../../styles/constants/constants';

.blockquote {

  &__title {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__wrapper {
    padding: 15px 20px;
    border-left: 2px solid $COLOR_MAIN_RED;
    margin: 0;
  }

  &__content {
    &, p {
      margin-bottom: 0;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__author {
    display: block;
    color: $COLOR_MARENGO;
    //color: #65676c;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
  }
}
