@import "~foundation-sites/scss/foundation";

.block {
  @include xy-grid();
  //display: flex;
  //flex-wrap: wrap;
  //width: 100%;


  &__title {
    @include xy-cell(12,0,0);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__content {
    @include xy-cell(12,0,0);
  }

  &__element {
    margin-bottom: 5px;
  }
}
