@import '../../../../styles/constants/colors';

.element {
  &__header {
    background: $PRIMARY_GRAY;
    color: $COLOR_GRAY_FONTS;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    display: flex;
    font-weight: 600;
    transition: all 0.1s linear 0s;
    justify-content: space-between;

    &_IsOpen {
      background: $COLOR_MAIN_RED_BG;
      color: #fff;
    }

    &:hover {
      background: $COLOR_MAIN_RED_BG;
      color: #fff;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__toggle {
    transition: all 0.1s linear 0s;
    transform: rotate(0deg);

    &_IsOpen {
      transition: all 0.1s linear 0s;
      transform: rotate(180deg);
    }
  }

  &__content {
    display: none;
    color: #fff;
    background: $COLOR_DARK_GRAY_BG;
    padding: 16px 20px;
    overflow: hidden;
    word-break: break-all;

    &_IsOpen {
      display: block;
    }
  }
}
