{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "VariableDeclarator": "first"
    }],
    "linebreak-style": ["error", "unix"]
  }
}
