// base names colors
$PRIMARY_DARK: #2F3238;
$PRIMARY_GRAY: #3C3F45;
$COLOR_DARK_GRAY: #26292E;
$COLOR_MARENGO: #55606a;

$COLOR_MAIN_RED: #DE5E60;

$COLOR_LITE_GRAY_FONTS: #7F8289;
$COLOR_GRAY_FONTS: #23262C;

$COLOR_WHITE: #fff;

$COLOR_NONE: $PRIMARY_GRAY;
$COLOR_DANGER: #E56C69;
$COLOR_WARNING: #DBA571;
$COLOR_SUCCESS: #1F7F5C;
$COLOR_INFO: #5A9AA8;
