name: CI

on:
  push:
    branches:
      - master  # Укажите нужную вам ветку
  pull_request:
    branches:
      - master  # Укажите нужную вам ветку

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install NPM dependencies
        run: npm ci

      - name: Deploy
        run: npm run deploy
